# https://github.com/nicknisi/dotfiles/blob/main/config/git/config
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Huynh Duc Duy
[commit]
	gpgsign = true
	template = /Users/huynhducduy/.stCommitMsg
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[alias]
	commit-random = !git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
	amend = commit --amend --no-edit
	undo = reset --soft HEAD^
	stash-untracked = "!f() {    \
		git stash;               \
		git stash -u;            \
		git stash pop stash@{1}; \
	}; f"
	stashs = stash push -S
	stashu = "!git stash push -S; git stash; git stash pop --index stash@{1}"
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	ignoreCase = false
	pager = delta
	compress = 9
	preloadindex = true
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[pull]
	rebase = true
	default = current
[diff]
	renames = copies
	mnemonicprefix = true
	compactionHeuristic = true
[diff "lockb"]
	textconv = bun
	binary = true
[rerere]
	enabled = true
[branch]
	sort = -committerdate
	autosetuprebase = always
[tag]
	sort = -taggerdate
[delta]
	navigate = true
[gitbutler]
	aiModelProvider = openai
	diffLengthLimit = 10000000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
[grep]
	extendRegexp = true
	lineNumber = true
[rebase]
	autoStash = true
