# https://github.com/nicknisi/dotfiles/blob/main/config/git/config
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Huynh Duc Duy
[commit]
	gpgsign = true
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[alias]
	commit-random = !git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
	amend = commit --amend --no-edit
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	ignoreCase = false
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[push]
	autoSetupRemote = true
[pull]
	rebase = true
